

#header {
  #topnav {
    background-color: #f0f8ff;
     list-style-type: none;
     height: 40px;
     /*width: 600px;*/

     li {
      float: left;     
      a {
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 40px;
        text-decoration: none;
      }
     }
  }
}