<div class="pagify">
    <h1>Editing pagify_categorization</h1>

    <div id='main'>
        <%= render 'form' %>
    </div>

    <div id='context'>
        <ul>
            <li><%= link_to 'show', @pagify_categorization %></li>
            <li><%= link_to 'back', pagify_categorizations_path %></li>
        </ul>
    </div>
</div>