<div class="pagify">
    <h1>New pagify_categorization</h1>

    <div id="main">
        <%= render 'form' %>
    </div>

    <div id="context">
        <ul>
            <li><%= link_to 'back', :back %></li>
        </ul>
    </div>
</div>