<section id="page">
  <% if (@edit) %>
      <%= javascript_include_tag 'mercury_loader.js'%>
      <%= javascript_include_tag 'pagify/pagify-editor.js' %>

    <% end %>

    <div class="page-header">
      <h1><span id="page_title" class="mercury-region" data-type="editable"><%= raw @page.title %></span></h1>
    </div>
    <div id="page_content" class="mercury-region" data-type="editable">
      <%= raw @page.content %>
    </div>
</section>