<section id="edit-page">
  <% if @edit %>
    <%= javascript_tag do %>
      window.mercuryLoaded = function() {
        Mercury.saveURL = '<%= updatemodified_page_path(@page.id) %>'
        $(window).bind('mercury:saved', function() {
            window.location = window.location.href = '<%= pagify_get_stored_location(nil, false) %>'
        });
      }
    <% end %>

    <%= javascript_include_tag 'mercury_loader.js?saveStyle=form&saveMethod=PUT'%>
  <% end %>

</section>